# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml

